.header{
    position: sticky;
    top: 0;
    background: white; 
    z-index: 1000; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px 80px 16px 80px
}
.logo_img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.logo_img:hover {
    transform: scale(1.1);
}


ul li{
    list-style: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    text-transform: uppercase;
}

ul li:hover {
    background-color: rgba(167, 201, 87, 0.7); 
    color: white;
    transform: scale(1.1);
}

ul li:active {
    transform: scale(1.05);
    background-color: #A7C957; /* Darker Orange */
}

.search-input {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.search-input:focus {
    border-color: #A7C957;
}

