
// Font weight

.fw_1{
    font-weight: 100;
}
.fw_2{
    font-weight: 200;
}
.fw_3{
    font-weight: 300;
}
.fw_4{
    font-weight: 400;
}
.fw_5{
    font-weight: 500;
}
.fw_6{
    font-weight: 600;
}
.fw_7{
    font-weight: 700;
}
.fw_8{
    font-weight: 800;
}
.fw_9{
    font-weight: 900;
}
.fw_b{
    font-weight: bold;
}
.fw_br{
    font-weight: bolder;
}


// Font Sizes

$array: (12,13,14,15,16,17,18,19,20,24,25,26,27,28,29,30,32,35,40,45,50,55,56,60,
    65,70,72,75,80,81,82,83,84,85,86,87,88,89,90,95,100,
    105,110,115,120,125,130,135,140,145,150,155,165,169,170);
    @each $a in $array{
        .f_s-#{$a}{
            font-size: #{$a}px;
        }
    }

// Gaps

$array: (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,30,40);
    @each $a in $array{
        .gap_#{$a}{
            gap: #{$a}px;
        }
    }

// line height

$array: (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,30,31,32,40);
    @each $a in $array{
        .lineh_#{$a}{
            line-height: #{$a}px;
        }
    }